html {
  text-align: center;
  background-color: #f6f4e6;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 4rem;
  font-family: "Nerko One";
}

.label {
  font-family: "Nerko One";
  font-size: 2rem;
}

.todogrid {
  margin: 1rem;
}

h2 {
  font-family: "Nerko One";
  font-size: 2rem;
  margin-top: 1px;
}

.listImage {
  width: 11%;
  margin-top: 4rem;
  margin-bottom: 3rem;
  transform: rotate(25deg);
}

input:focus {
  outline: none;
}

li {
  display: block;
  text-align: center;
  font-family: "Varela Round";
  font-size: 30px;
  margin: 0;
}

li:hover {
  text-decoration: line-through;
  cursor: pointer; 
  color: #c05555
}

#button{
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}
#button:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}
#buttonn:active {
	position:relative;
	top:1px;
}

#footer{
  font-family: sans-serif;
  width: 25rem;
  display: inline-block;
}

#infoText {
  padding-top: 2rem;
}

hr {
  width: 40%;
}

#input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}

.leafImage {
  position: absolute;
  width: 40%;
  z-index: -1;
 bottom: 0px;
  left: 0px;
}



.wiggle {
  animation: spin 10s;
  animation-iteration-count: infinite;
}


.wiggle:hover {
  animation: spin 1s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(25deg);
  }

  to {
    transform: rotate(385deg);
  }
}
